@import "tailwindcss";
@import "@nuxt/ui";

h1 {
  @apply text-3xl font-semibold pt-3 pb-1;
}
h2 {
  @apply text-2xl font-semibold pt-3 pb-1;
}
h3 {
  @apply text-xl font-semibold pt-3 pb-1;
}

b {
  @apply font-semibold;
}

.myTitle {
  @apply text-3xl font-semibold pt-3 pb-1 text-center text-purple-500;
}

.page-enter-active {
  @apply duration-200 ease-out;
}
.page-leave-active {
  @apply duration-150 ease-in;
}
.page-enter-from,
.page-leave-to {
  @apply transform transition-all opacity-0;
}

@theme static {
  --color-PRP: #5200f8;
  --color-YLW: #ffe600;
}